form {
    width: 50%;
    margin-left: 100px;
}

form > button {
    margin-left: 20px;
}

.navbar-brand{
    margin-left: 16px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 2rem;
}
.navbar{
    z-index: 9999999999 !important;
}
nav{
        position: fixed;
        min-width: 100vw;
        font-size: 20px;
        font-weight: bold;
}
