<nav style="z-index: 99" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i>Cν gєη </i></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          routerLink="contact"
          routerLinkActive="active"
          (click)="contacter()"
          class="nav-link"
          href="#"
          >Contactez</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="CV"
          routerLinkActive="active"
          (click)="cv()"
          class="nav-link"
          href="#"
          >CV</a
        >
      </li>
      <li *ngIf="!logged" class="nav-item">
        <a
          routerLink="login"
          routerLinkActive="active"
          (click)="verifie()"
          class="nav-link"
          href="#"
          >Sign In</a
        >
      </li>
      <li *ngIf="logged" class="nav-item">
        <a routerLink class="nav-link">
          {{ mail }}
        </a>
      </li>
      <li *ngIf="logged" class="nav-item">
        <a routerLink (click)="logout()" class="nav-link"> logout </a>
      </li>
    </ul>
  </div>
</nav>
