<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="resume d-flex">

   <div class="resume_left">
    <!-----------------------------------Informaion personnelle--------------------------------->
     <div class="resume_profile">
       <img [src]="urlLink" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">{{infosPerso[0].lname | uppercase}} {{infosPerso[0].fname | titlecase}}</p>
           <!-- <p class="regular">Designer</p> -->
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="bi bi-house-door-fill"></i>
             </div>
             <div class="data">
               {{infosPerso[0].adresse}}, {{infosPerso[0].ville}} <br /> {{infosPerso[0].pays}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="bi bi-telephone-fill"></i>
             </div>
             <div class="data">
               {{infosPerso[0].codePays}} {{infosPerso[0].tel}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="bi bi-envelope-fill"></i>
             </div>
             <div class="data">
               {{infosPerso[0].email}}
             </div>
           </li>
           <li>
             <div class="icon" [ngSwitch]="sm">
               <i class="bi bi-linkedin" *ngSwitchCase="'bi bi-linkedin'"></i>
               <i class="bi bi-github" *ngSwitchCase="'bi bi-github'"></i>
             </div>
             <div class="data">
               {{infosPerso[0].linkSM}}
             </div>
           </li>
         </ul>
       </div>

       <!-----------------------------------Skills--------------------------------->

       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">Compétences</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               HTML
             </div>

             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>

             <div class="skill_per">80%</div>
           </li>

           <li>
             <div class="skill_name">
               CSS
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>
           <li>
             <div class="skill_name">
               SASS
             </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">90%</div>
           </li>
           <li>
             <div class="skill_name">
               JS
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">60%</div>
           </li>
           <li>
             <div class="skill_name">
               JQUERY
             </div>
             <div class="skill_progress">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per">88%</div>
           </li>
         </ul>
       </div>
       <!-----------------------------------Social Media--------------------------------->
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Réseaux Sociaux</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-facebook-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Facebook</p>
               <p>Stephen@facebook</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p>Stephen@twitter</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p>Stephen@youtube</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>Stephen@linkedin</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <!-----------------------------------Presentation--------------------------------->
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">Présentation</p>
         </div>
        <p>{{infosPerso[0].presentation}}</p>
    </div>

   <!-----------------------------------Expériences professionnelles--------------------------------->

    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Experiences professionnelles</p>
         </div>
        <ul>
            <li>
                <div class="date">{{infosPerso[0].startDate.year}} - {{infosPerso[0].endDate.year}}</div> 
                <div class="info">
                     <p class="semi-bold">Lorem ipsum dolor sit amet.</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
        </ul>
    </div>

    <!-----------------------------------Eductions et Formation--------------------------------->

    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Educations et Formations</p>
         </div>
      <ul>
            <li>
                <div class="date">2010 - 2013</div> 
                <div class="info">
                     <p class="semi-bold">Web Designing (Texas University)</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date">2000 - 2010</div>
              <div class="info">
                     <p class="semi-bold">Texas International School</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
        </ul>
    </div>

    <!-----------------------------------Loisirs--------------------------------->

    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Loisirs</p>
         </div>
       <ul>
         <li><i class="bi bi-x"></i></li>
         <li><i class="fas fa-gamepad"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>
  </div>
</div>