.contact{
    color: #0b0c0b;
    text-align: center;
    padding: 3.5rem 7rem;

    }
.Container{
  
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0   0 100px 20px rgba(45, 73, 47, 0.2);
}    
.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-family: cursive;
}
.contact-left ,.contact-right{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-right{
    margin-top: 30px;
}
.contact-form{
    display: flex;
    flex-direction: column
    ;
    width: 100%;
}
p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    width: 60%;
}
.spanCon{
    color:#1480c8
}
p span{
    font-weight: bold;
    font-size: 1.5rem;
}
.h33{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #0d5f95;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input , textarea{
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;

    outline: none;
    border-left: 2px solid #1480c8;   
    border-bottom:2px solid #1480c8 ;
}
contact-form-text{
    color: blanchedalmond;
}
.contact-form-btn{
   background-color: #1480c8;
    color: #fff;
   font-size: "1.5rem";
    font-weight: bold;
   padding: 10px 30px;
   border: none;
    border-radius: 50px;
   
}