img {
    width: 80%;
    border-radius: 50%;
}

.color-blue {
    color: blue;
    margin-left: 50px;
}

.div-img {
    padding-left: 50px;
}

.container {
    border: 1px solid lightgray;
    border-radius: 4px;
}

button {
    margin-left: 16px;
}

.btnModifier{
    margin-left: 25%;
}

.formFooter { 
    bottom: 0;
}
.btns{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.btnss{
 
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;

    
}

   


