<!-- <app-landing-page></app-landing-page> -->

<!-- <app-form></app-form> -->
<!-- <app-second-cv-model></app-second-cv-model> -->

<app-header></app-header>
<br />
<br />
<!-- <app-home></app-home> -->
<div style="min-height: 80vh">
  <router-outlet></router-outlet>
</div>

<!-- <app-one-experience></app-one-experience> -->

<!-- <app-experience-pro></app-experience-pro> -->

<!-- <app-educatin-form></app-educatin-form> -->

<!-- <app-one-education></app-one-education> -->

<!-- <app-competence-form></app-competence-form> -->

<!-- <app-one-competence></app-one-competence> -->

<!-- <app-langue-form></app-langue-form> -->

<!-- <app-loisir-form></app-loisir-form> -->

<!-- <app-one-loisir></app-one-loisir> -->

<!-- <app-templates-cv></app-templates-cv>  -->

<!-- <app-templates-cv></app-templates-cv> -->
<app-footer></app-footer>
