
<router-outlet></router-outlet>

<!-- <app-landing-page></app-landing-page> -->

<!-- <app-form></app-form> -->

<!-- <app-one-experience></app-one-experience> -->

<!-- <app-experience-pro></app-experience-pro> -->

<!-- <app-educatin-form></app-educatin-form> -->

<!-- <app-one-education></app-one-education> -->

<!-- <app-competence-form></app-competence-form> -->

<!-- <app-one-competence></app-one-competence> -->

<!-- <app-langue-form></app-langue-form> -->

<!-- <app-loisir-form></app-loisir-form> -->

<!-- <app-one-loisir></app-one-loisir> -->

<app-templates-cv></app-templates-cv> 


