<div class="row">
    <div class="col-7">
        <div>
            <h5>{{oneProjet.titre}}</h5>
            <p>{{oneProjet.startDate.day}}/{{oneProjet.startDate.month}}/{{oneProjet.startDate.year}} - {{oneProjet.endDate.day}}/{{oneProjet.endDate.month}}/{{oneProjet.endDate.year}} </p>
            <p>{{oneProjet.presentation}}</p>
        </div>
    </div>
    <div class="col-5 d-flex justify-content-between align-items-center">
        <div>
            <button class="btn" (click)="update()">
                <i class="bi bi-pen text-primary">Modifier</i>
            </button>
            <button class="btn" (click)="delete()">
                <i class="bi bi-trash text-danger">Supprimer</i>
            </button> 
        </div>
    </div>
    <hr *ngIf="oneProjet">
</div>

