<div class="row d-flex justify-content-center align-items-center ">
    <div class="container col-6 bg-light pt-2 mt-3 shadow-lg">
        <h4>Compétences</h4>
        <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       

            <div>
                <label for="skill">Compétences</label>
                <input formControlName="skill" id="skill" type="text" class="form-control">
            </div>
            <div class="mt-2 mb-2">
                <span class="btn btn-primary" (click)="addSkill()">Ajouter</span>
            </div>

            <mat-chip-listbox>
                <mat-chip-option  *ngFor="let skill of selectedSkills" (removed)="removeSkill(skill)"
                class="text-white bg-secondary">
                {{ skill }}
                <button matChipRemove>
                    <i class="bi bi-x-circle text-white"></i>
                </button> 
                </mat-chip-option>
            </mat-chip-listbox> 

            <hr>

        

        <div class="d-flex justify-content-end mb-3 button">
            <div>
                <button class="btn btn-secondary">Reset</button>
            </div>
            <div style="margin-left: 20px;">
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>            
        </div>
    </form>
</div>