<app-header></app-header>
<div *ngIf="ok">

    <div class="bg-secondary">
        <div class="bar mt-5 text-white">
            <h1>Créez votre CV en Ligne</h1>
            <p>
                L'outil d'aide à l'élaboration de CV vous permet de créer facilement votre CV en ligne.<br>
                Vous pouvez utiliser ce CV pour postuler pour un emploi, des études, une formation ou des activités de volontariat.
            </p>
      </div>
    </div>

    <div>
        <a routerLink="form" (click)="verifie()">Commencer !</a>
    </div>
    
</div>

<router-outlet></router-outlet>

