
<div *ngIf="ok">
  <div class="bg-secondary">
    <div class="bar mt-2 text-white">
      <h1>Créez votre CV en Ligne</h1>
      <p>
        L'outil d'aide à l'élaboration de CV vous permet de créer facilement
        votre CV en ligne.<br />
        Vous pouvez utiliser ce CV pour postuler pour un emploi, des études, une
        formation ou des activités de volontariat.
      </p>
    </div>
  </div>

  <div>
    <a routerLink="form" (click)="verifie()">Commencer !</a>
  </div>
</div>

<div style="min-height: 55vh;">

    <!-- <router-outlet></router-outlet> -->
</div>


<div class="row d-flex justify-content-center align-items-center" >
    <div class="col-3"></div>
    <div class="col-6 border-bottom-0">    
        <div class="d-flex justify-content-between m-3 button" >
            <div>
                <button class="btn"> <i class="bi bi-x"></i>Quitter</button>
            </div>
  <!--           <div>

                <button (click)="logout()">
                  {{displayNamee}}  Logout
                </button>
            </div> -->
            <div>
                <!-- <button type="submit" class="btn btn-primary">Next<i class="bi bi-caret-right-fill"></i></button> -->

                <button type="submit" class="btn btn-primary" (click)="goToTemplateCV()"
                >Next<i class="bi bi-caret-right-fill"></i></button>

            </div>            
        </div>
    </div>
    <div class="col-3"></div>    

</div>
<div class="col-3"></div>
